* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: #444;
}

.icon-class {
    width: 3rem;
    height: 3rem;
}

.main-container {
    display: grid;
    gap: 1.5rem;
    width: 170rem;
    margin: 15rem auto;
    grid-template-columns: 70% 30%;
}

.left-container {
    padding: 5rem;
    background-color: #FFFAEB;
}

.btn-back {
    gap: 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;

    cursor: pointer;
}

.first-inputs {
    display: flex;
    gap: 1.5rem;
    width: 85%;
    margin: 5rem auto;
}

.first-inputs input {
    border: none;
    font-size: 1.8rem;
    padding: 1.5rem;
    width: 100%;
}

.first-inputs input::placeholder {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    color: #BEBEBE;
}

.shipping-information {
    margin-top: 6rem;
    padding-left: 8rem;
    font-size: 1.8rem;
}

#shipping-info {
    gap: 1.5rem;
    display: grid;
    width: 85%;
    margin: 3rem auto;
    grid-template-columns: repeat(2, 1fr);
}

#shipping-info input {
    border: none;
    font-size: 1.8rem;
    padding: 1.5rem;
    width: 100%;
}

#shipping-info input::placeholder {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    color: #BEBEBE;
}

.payment-options {
    margin-top: 6rem;
    padding-left: 8rem;
    font-size: 1.8rem;
}

.payment-options-box {
    width: 85%;
    margin: 3rem auto;
    font-size: 1.8rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.btn {
    border: none;
    padding: 2.5rem;
    font-style: italic;
    font-size: 1.8rem;
}

.btn-paypal {
    background-color: #FCE050;
}

.btn-card {
    background-color: #6F6F6F;
    color: #fff;
}

.right-container {
    padding: 5rem;
    height: 20rem;
    background-color: #CBEACB;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.quantity {
    font-size: 1.8rem;
}

.total-amount {
    font-size: 2.6rem;
    font-weight: 600;
}
