@media(max-width: 2332px) {
    .main-header-img {
        width: 80%;
        height: 70vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .second-section-box {
        width: 80%;
    }
}