<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main-product.css">
    <link rel="stylesheet" href="css/queries.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <title>Product Name</title>
</head>
<body>
    <header class="header">
        <div class="left-items">
            <p class="logo"><a href="index.html">Market Allyzon</a></p>
            <div class="vertical-line"></div>
            <nav class="main-nav">
                <ul class="main-nav-list">
                    <li><a href="#">Shop</a></li>
                    <li><a hfref="">About Us</a></li>
                    <li>Contact Us</li>
                </ul>
            </nav>
        </div>
        <div class="right-icons">
            <a href="#"><ion-icon class="icon-class profile-login-icon" name="person-circle-outline"></ion-icon></a>
            <a href="#"><ion-icon class="icon-class add-to-cart-icon" name="cart-outline"></ion-icon></a>
        </div>
    </header>

    <main>
        <section class="main-product-section">
            <div class="main-product-box">

                <div class="arrow-box">
                    <a href="main-shop.html">
                        <ion-icon class="back-icon" name="chevron-back-outline"></ion-icon>
                    </a>
                </div>

                <div class="product-img-box">
                    <div class="beige-box"></div>
                    <div class="green-box"></div>
                    <img src="img/products-img/garlic.png" class="product-img">
                </div>

                <div class="product-desc-box">
                    <p class="product-title">FRESH GARLIC (1 kg)</p>
                    <p class="product-desc">
                        Garlic is a species of bulbous flowering plant in the genius Allium. Its close relatives include the onion, shallot, leef, chive, Weish onion, and Chinese Onion.
                    </p>
                    <p class="product-price">Php 65.00</p>
                    <div class="quantity-box">
                        <p class="quantity-name">Quantity</p>
                        <p class="quantity-num">2</p>
                        <div class="btn-quantity">
                            <ion-icon class="quantity-up-icon" name="caret-up-outline"></ion-icon>
                            <ion-icon class="quantity-down-icon" name="caret-down-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="line"></div>
                    <p class="total-name">Total</p>
                    <p class="total-num">Php 130.00</p>
                    <div class="btns">
                        <button class="btn btn-add-to-cart">ADD TO CART</button>
                        <button class="btn btn-buy-now">BUY NOW</button>
                    </div>
                </div>

            </div>
        </section>
    </main>

</body>
</html>